*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-size: 20px; */
  font-family: 'Space Grotesk', sans-serif;
  background-image: url('images/bg-main-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
}

main {
display: flex;
flex-direction: column;
/* width: 100vw; */
/* flex-direction: row; */
}

#card_pics {
  /* height: 100vh; */
  height: 30vh;
} 

#card_pics, #card_details {
  /* width: 50%; */
  width: 100%;
}

.cards {
  width: 20%;
  height: 30vh;
  /* margin: 6em auto 0 auto; */
  background-color: rgba(250, 235, 215, 0);
  /* padding: 0px auto; */
  /* height: 200px; */
  overflow: visible;
  position: absolute;
  top: 5%;
  left: 10%;
} 

.back, .front {
  max-width: 1200px;
  /* height: 50px; */
  min-width: 240px;
  overflow: visible;
  /* margin: 0 auto; */
}

.back {
  /* position: absolute;
  right: 20%;
  margin-top: 1em; */
position: relative;
/* top: 17%; */
left: 80%;
}

.front {
position: absolute;
top: 35%;
/* left: 33%; */
/* left: auto; */
z-index: 10;
color: white;
letter-spacing: 4px;
  /* position: relative;
  right: 95%;
  top: 48%;
  z-index: 10; */
}

.back img, .front img {
  width: 100%;
  /* max-width: 900px; */
}

#card_details {
  background-color: white;
  width: 100%;
}

.container {
  width: 65%;
  margin: 2em auto 0 auto; 
  /* font-size: 1rem; */
  padding-top: 2em;
}
.lastrow {
  display: flex;
  gap: 2em;
}
.data_actual {
  display: flex;
}
input[type="text"], input[type="number"] {
  /* width: 100%; */
  padding: 0.8em;
}

input {
  /* margin-top: 0.5em; */
  /* margin-top: 1.2em; */
  border: 2px solid lightgrey;
  border-radius: 10px;
}

#name, #number {
  width: 100%;
}

#cvc {
  width: 50%;
}

/* ::placeholder {
color: lightgrey;
} */

#confirm {
  background-color: hsl(278, 68%, 11%);
  font-size: 1rem;
  padding: 0.8em 5.5em;
  margin-top: 1.2em;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

input, input::placeholder {
font-size: 1rem;
}

.confirm {
margin-top: 1em;
}

.card_values {
position: absolute;
top: 0.5em;
left: 1em;
z-index: 5;
}

.num_container {
/* padding-top: 2.5em; */
padding-left: 0.5em;
font-size: 1rem;
}

.name_num {
/* padding-top: 0.5em; */
display: flex;
gap: 2em;
}

.logo-div {
max-width: 50px;
padding-top: 0.2em;
}

.card-logo {
width: 100%;
}

.exp {
  width: 50%;
}

#mm, #yy {
width: 30%;
padding: 0.8em;
}

#back_cvc {
font-size: 1rem;
color: white;
/* z-index: 11; */
position: absolute;
width: 10%;
top: 40%;
right: 15%;
}

i.fa-solid {
color: tomato;
visibility: hidden;
}

small {
color: tomato;
/* margin-bottom: 1.2em; */
visibility: hidden;
}

/* @media(max-width: ) */

@media(min-width: 376px) {
  main {
    width: 100vw;
    flex-direction: row;
  }
    
    #card_pics {
      height: 100vh;
    } 

    .cards {
      width: 30%;
      height: 30vh;
      /* margin: 6em auto 0 auto; */
      background-color: rgba(250, 235, 215, 0);
      /* padding: 0px auto; */
      /* height: 200px; */
      overflow: visible;
      position: absolute;
      top: 5%;
      left: 10%;
    } 
    
    .back {
    position: relative;
    left: 20%;
    top: 60%;
    }
    
    .front {
    position: absolute;
    top: -50%;
    z-index: 10;
    color: white;
    letter-spacing: 4px;
    }
    
    #card_details {
      width: 100%;
      background-color: white;
    }
    .container {
      width: 70%;
      /* margin: 2em auto 0 auto;  */
      /* font-size: 1rem; */
      padding-top: 2em;
      padding-left: 4em;
      margin: 20vh auto 0 auto;
    }
    .lastrow {
      display: flex;
      gap: 2em;
    }
    .data_actual {
      display: flex;
    }

    .cards {
      margin: 25vh -2em;      
    } 

    input[type="text"], input[type="number"] {
      /* width: 100%; */
      padding: 0.8em;
    }
    
    /* #confirm {
      background-color: hsl(278, 68%, 11%);
      font-size: 1rem;
      padding: 0.8em 5.5em;
      margin-top: 1.2em;
      text-decoration: none;
      color: white;
      cursor: pointer;
    } */
    
    input, input::placeholder {
    font-size: 1rem;
    }
    
    .confirm {
    margin-top: 1em;
    }
    
    .card_values {
    position: absolute;
    /* top: 1em; */
    left: 0.5em;
    z-index: 5;
    }
    
    .name_num {
    padding-top: 1em;
    display: flex;
    gap: 2em;
    }
    
    /* .logo-div {
    min-width: 50px;
    max-width: 80px;
    padding-top: 0.2em;
    } */

    .logo-div {
      padding: 0;
    }
    
    .card-logo {
    width: 100%;
    }
    
    /* #mm, #yy {
    width: 150px;
    padding: 1em 0.5em;
    } */
    
    #back_cvc {
    font-size: 1rem;
    /* z-index: 11; */
    position: absolute;
    width: 10%;
    /* top: 42.5%; */
    top: 50%;
    right: 5%;
    padding-top: 0.5em;
    }
}

@media (min-width: 375px) and (max-width: 1075px) {
  .num_container, .name_num, .logo_div {
    padding: 0;
  }
  
  .logo-div {
    max-width: 50px;
  }

  #mm, #yy {
    width: 50%;
  }
  .lastrow {
    gap: 0;
  }
}

/* .cvc {
  display: flex;
} */
/* ### Primary

- Linear gradient (active input border): hsl(249, 99%, 64%) to hsl(278, 94%, 30%)
- Red (input errors): hsl(0, 100%, 66%)

### Neutral

- White: hsl(0, 0%, 100%)
- Light grayish violet: hsl(270, 3%, 87%)
- Dark grayish violet: hsl(279, 6%, 55%)
- Very dark violet: hsl(278, 68%, 11%)